# Dependencias Principales
pandas
pandas-ta
python-binance
python-dotenv
websocket-client
tqdm

# Dependencias de Análisis y Reportes
quantstats
IPython

# Nota: No necesitamos numpy aquí directamente porque
# es una sub-dependencia de pandas y quantstats.
# pip se encargará de instalar la versión correcta.